{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTISrclSau-Oii_hD_SJhO8GHZLtIiEcR6wEEb0g-QbASY__ae_owYI4TrViuYwPJHLqKQ&usqp=CAU">
</head>
<body>
    
    <div class="messages">
        <h4 class="alert">
            {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
            {% endif %}
        </h4>
    </div>
    
    <div class="container main-form">
        <form action="" method="post">
            <h1>URL Shortner</h1>
            {% csrf_token %}
            <input type="text" name="main_url" placeholder="Enter your URL here" class="inp" required>
            <input type="submit" value="Short URL" class="button">
        </form>

        {% if short_url %}
        <div class="content">
            <p class="main-url">Main URL: <span>{{main_url}}</span></p>
            <p class="short-url">Short URL: <span><a target="_blank" href="{{url}}" id="url">{{short_url}}</a></span></p>
            <button class="copy-btn" id="copy-btn">Copy</button>
            <p class="info">Click this button to copy the short url</p>
        </div>
        {% endif %}
    </div>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>